%p
  lat:
  =@lat
%p
  lng:
  =@lng
%button{ :onclick => "gmapRefreshMarkers(markerBadGuy, position);" } Sprawdź ponownie satelity szpiegowskie
#map-container
  #map

:javascript
  var map;
  var markerBadGuy;
  var markerYou;
  var position;
  

  $(document).ready(function(){
    map = gmapShowMap();    // init show map for company card (only print marker);
    
    var position = new google.maps.LatLng(0,0);
    
    markerYou = gmapDrawMarkerYou(map); 

    markerBadGuy = gmapDrawMarkerBadGuy(map, markerYou.getPosition());    
    
    google.maps.event.addListener(map, "click", function(event) {
      var lat = event.latLng.lat();
      var lng = event.latLng.lng();
      position = new google.maps.LatLng(lat,lng);
      gmapRefreshMarkers(markerBadGuy, position);
      $.ajax({
        url: '/update_bad_guy',
        data: { lat: lat, lng: lng },
        dataType: 'script'
      })

    });
    
    
  });

