%p
  lat:
  =@lat
%p
  lng:
  =@lng

#map-container
  #map

:javascript
  $(document).ready(function(){
    var lat = #{@lat};    // pass ruby variable to javascript
    var lng = #{@lng};    // pass ruby variable to javascript
    
    gmap_show(lat,lng);    // init show map for company card (only print marker)
  });