#map-container
  #map

%h3
  %button.refresh{ :onclick => "gmapRefreshBadGuyMarker(markerBadGuy);" } Refresh spy satellites

:javascript
  var map;
  var markerBadGuy;
  var markerYou;
  var position;
  

  $(document).ready(function(){
    map = gmapShowMap();    // init show map for company card (only print marker);
    
    var position = new google.maps.LatLng(#{@bad_guy.lat},#{@bad_guy.lng});
    
    markerYou = gmapDrawMarkerYou(map, position); 

    markerBadGuy = gmapDrawMarkerBadGuy(map, position); 

    
  });

