%p   
  .center    
    %img.logo{:src => "http://static.tumblr.com/c6e308cb7d73d245a6b133c12a2ce35f/mwhz6qp/g9eniqoej/tumblr_static_7kr1jzvyrtwk4ocoossg8okws.png"}
  %p
    - if current_user.vip?
      %h3  
        Hello bad guy 002 ! 
        = button_to "Run machine", "/map",  method: :get, class: "start"

    - else
      %h3
        .center
          Hello agent 002 !
        = button_to "Run machine", "/map_for_seekers", method: :get, class: "start"
        